	
/*
 * Service
 */
.service-box{
	text-align:center;
	}
.service-box i {
	
	font-size: 70px;
	line-height: 120px;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 1px solid #fff;
	text-align: center;
}

.service-box:hover i {
	border-color: transparent;
	
}

.service-box h3 {
	text-transform: uppercase;
	margin-top:20px;
}

.service-box p {
	margin-bottom: 12px;
	font-size: 16px;
}

.service-box a {
	font-style: italic;
	
	font-size: 16px;
}
.section-section-projects .service-box a {
	color: #fff !important;
}

/*
 * list
 */

ul.shortcode-list {
	/*padding-top: 20px;*/
	list-style:none;
}

ul.shortcode-list li {
	padding: 7px 0;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Oswald';
}

ul.shortcode-list.list-border li{
	border-bottom: 1px solid #dedede;
	}
ul.shortcode-list.list-border-none li{
	border-bottom:none !important;
	}
ul.shortcode-list li i{
	color:#008cbe;
	margin-right:9px;
	}
ul.shortcode-list li a{
	display: inline-block !important;
}

/* align */
.align-center,.aligncenter {
	display:inline-block;
	text-align:center;
	margin:auto;
}
.align-left,.alignleft {
	display:inline-block;
	text-align:left;
	margin:auto;
}
.align-right,.alignright {
	display:inline-block;
	text-align:right;
	margin:auto;
}
/* row */
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* portfolio*/

article.portfolio-item,
article.portfolio span{
    overflow: hidden;
    position: relative;
}
article.portfolio-item li img,
article.portfolio-item span{
    display: block;
    position: relative;
}
article.portfolio-item span{
	overflow:hidden;
	}
.portfolio-list-wrap li div,
article.portfolio-item div{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.portfolio-list-wrap li div.da-animate,
article.portfolio-item div.da-animate {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-item h3 {
margin-top: 20px;
border-bottom: 1px dashed #efefef;
margin-bottom: 10px;
padding-bottom: 8px;
font-size: 16px;
}

.da-slideFromTop {
    left: 0px;
    top: -100%;
}
.da-slideFromBottom {
    left: 0px;
    top: 100%;
}
.da-slideFromLeft {
    top: 0px; 
    left: -100%;
}
.da-slideFromRight {
    top: 0px;
    left: 100%;
}
.da-slideTop {
    top: 0px;
}
.da-slideLeft {
    left: 0px;
}
#filtrable{
  margin-bottom: 30px;
  float: right;
}
#filtrable li{
  float: left;
  margin-left: 10px;
  list-style: none;
}

#filtrable a{
  padding: 4px 10px;
  background-color: transparent;
  border: 1px solid #ececec;
  font-size: 0.833em;
  color: #777;
  display: inline-block;
}

#filtrable a:hover,
#filtrable .current a{
  color: #fff;
  border-color: #ffa071;
  background-color: #ffaf88;
}


.p-view, .p-link{
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}
.p-view{
  left: 50%;
  margin-left: -50px;
  background: url(/web/20180119063908im_/http://www.businessmakerapp.com/wp-content/themes/onetake-pro/images/view.png);
}
.p-link{
  right: 50%;
  margin-right: -50px;
  background: url(/web/20180119063908im_/http://www.businessmakerapp.com/wp-content/themes/onetake-pro/images/link.png);
}

/* buttons */
.button {
	padding: 7px 14px;
	display: inline-block;
	border: 0px;
	font-family: Tahoma, Arial, sans-serif;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	color: #fff;
}

.button.medium {padding: 8px 20px; font-size: 14px;}
.button.large {padding: 9px 26px; font-size: 15px;}

.button.gray {color: #fff;background: #505050;}
.button.gray:hover {background:#4ca702;}

.button.light {color:#fff; background: #aaaaaa;}
.button.light:hover {background:#4ca702;}

.button.green{color:#fff; background:#4ca702;}
.button.green:hover {background:#aaa;}



/* alert box */
.alert i{
	margin-right:12px;
	font-size:16px;
	}
	
/* accordion  */	
.accordion {
    margin-bottom: 20px;
}
.accordion-group {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 2px;
}
.accordion-heading {
    border-bottom: 0 none;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-toggle {
    cursor: pointer;
}
.accordion-inner {
    border-top: 1px solid #e5e5e5;
    padding: 9px 15px;
}
.carousel {
    line-height: 1;
    margin-bottom: 20px;
    position: relative;
}

/*progress bar*/

.progress-bar {
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}

.progress-bar div {
	height: 100%;
	color: #fff;
	text-align: right;
	font-size: 12px;
	line-height: 30px;
	width: 0;
}

.progress-bar.default {
	background: #292929;
	border: 1px solid #111;	
	border-radius: 5px;	
	overflow: hidden;
	box-shadow: 0 0 5px #333;				
}
.progress-bar.default div {
	background-color: #ff8400;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff8400), to(#ff6b53)); 
	background: -webkit-linear-gradient(top, #ff8400, #ff6b53); 
	background: -moz-linear-gradient(top, #ff8400, #ff6b53); 
	background: -ms-linear-gradient(top, #ff8400, #ff6b53); 
	background: -o-linear-gradient(top, #ff8400, #ff6b53);
}

/* fact */

.fact {
font-size: 50px;
border-bottom: 1px solid #ebebeb;
font-family: 'Oswald', sans-serif;
}
.fact-name{
	margin-top:8px;
	}
/* team */
.team-member h4 {
margin-bottom: 5px;
}
.team-member h4 span {
font-size: 90%;
}
.thin-font {
font-weight: normal !important;
font-weight: 300 !important;
}
.text-center .tx-div {
margin: 15px auto 15px auto;
}
.tx-div {
display: block;
height: 3px;
background-color: #000;
opacity: 0.1;
margin: 15px 0 15px;
}
.team-member .ux-box-image img {
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
transition: all 400ms ease-out;
}
.team-member .team-box-image img {
min-width: 100%;
top: 0;
position: relative;
-webkit-border-radius: 999px;
border-radius: 999px;
}
.team-member .team-box-image {
margin-left: 20px;
margin-right: 20px;

}
.team-member.text-center .team-box-text {
padding-left: 5px;
padding-right: 5px;
margin-top:10px;
}
.tx-div.small {
width: 30px;
}

/* social icon*/
div.social-icons{
	margin:10px auto;
	text-align:center;
	}
div.social-icons a{
position: relative;
line-height: 20px;
font-size: 20px;
border: 2px solid #ccc;
display: inline-block;
padding: 8px;
margin: 0 5px 5px 0;
-webkit-border-radius: 99px;
border-radius: 99px;
-webkit-transition: "background-color" 200ms ease-out;
-moz-transition: "background-color" 200ms ease-out;
transition: "background-color" 200ms ease-out;
height: 40px;
width: 40px;
}
div.social-icons a:hover{
	background-color:#94c03d;
	}
div.social-icons a:hover i{
	color:#fff;
}
/* testimonial */

.onetake-testimonials .review {
  display: none;
}
.onetake-testimonials .review:first-child {
  display: block;
}
.onetake-testimonials blockquote {
  margin-bottom: 0;
  border: none;
  background-color: #f6f6f6;
  border-radius:10px;
	-moz-border-radius:10px;
}
.onetake-testimonials blockquote q {
  display: block;
  padding: 25px;
  font-style: italic;
  line-height: normal;
}
.onetake-testimonials blockquote q:before,
.onetake-testimonials blockquote q:after {
  content: "";
}
.onetake-testimonials .author {
  position: relative;
  padding: 12px 0 0 2px;
}
.onetake-testimonials .author:after {
  position: absolute;
  left: 35px;
  top: 0;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: medium solid transparent;
  border-top-color: #f6f6f6;
  border-width: 10px;
}
.onetake-testimonials .author a:hover {
  text-decoration: none;
}
.onetake-testimonials .no-avatar .author {
  padding-left: 0;
}
.onetake-testimonials .company-name {
  display: table-cell;
  vertical-align: middle;
}
.onetake-testimonials .testimonial-thumbnail {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
  height: 50px;
}
.onetake-testimonials .testimonial-image {
  max-width: 50px;
   border-radius:5px;
   -moz-border-radius:5px;
}
.onetake-testimonials .doe {
  position: relative;
  text-align: center;
}
.onetake-testimonials .doe:before {
  line-height: 50px;
  font-family: FontAwesome;
  font-size: 28px;
  color: #3E3E3E;
  text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.onetake-testimonials .female .doe:before {
  content: "\f182";
}
.onetake-testimonials .male .doe:before {
  content: "\f183";
}

/* separator */

.section-separator {
  position: relative;
  
}
.divider-candy {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  height: 40px;
  width: 40px;
  z-index: 100;
  border-bottom: 1px solid #E6E5E6;
  border-left: 1px solid #E6E5E6;
  background: #ffffff;
  content: "";
}
.divider-candy.bottom {
  bottom: -21px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.divider-candy.top {
  top: -21px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.section-separator .icon {
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -20px;
  width: 40px;
  font-size: 20px;
  z-index: 200;
  font-family: fontawesome;
}
.section-separator .icon:after {
  display: block;
  text-align: center;
}
.onetake-separator {
  margin: 0 auto;
  border: 0 solid #e7e6e6;
  clear: both;
  position: relative;
}
.onetake-separator.sep-none {
  height: 1px;
}
.onetake-separator.sep-double {
  height: 8px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.onetake-separator.sep-single {
  border-top-width: 1px;
}
.onetake-separator.sep-dashed {
  border-bottom-style: dashed;
  border-top-style: dashed;
}
.onetake-separator.sep-dotted {
  border-bottom-style: dotted;
  border-top-style: dotted;
}
.onetake-separator.sep-shadow {
  height: 1px;
  overflow: visible;
  border: none;
  background: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(150, 150, 150, 0)), color-stop(15%, rgba(150, 150, 150, 0)), color-stop(50%, rgba(150, 150, 150, 0.65)), color-stop(85%, rgba(150, 150, 150, 0)), color-stop(100%, rgba(150, 150, 150, 0)));
  background: -webkit-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0) 15%, rgba(150, 150, 150, 0.65) 50%, rgba(150, 150, 150, 0) 85%, rgba(150, 150, 150, 0) 100%);
  background: -moz-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0) 15%, rgba(150, 150, 150, 0.65) 50%, rgba(150, 150, 150, 0) 85%, rgba(150, 150, 150, 0) 100%);
  background: -ms-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0) 15%, rgba(150, 150, 150, 0.65) 50%, rgba(150, 150, 150, 0) 85%, rgba(150, 150, 150, 0) 100%);
  background: -o-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0) 15%, rgba(150, 150, 150, 0.65) 50%, rgba(150, 150, 150, 0) 85%, rgba(150, 150, 150, 0) 100%);
  background: linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0) 15%, rgba(150, 150, 150, 0.65) 50%, rgba(150, 150, 150, 0) 85%, rgba(150, 150, 150, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}
.onetake-separator.sep-shadow:after {
  display: block;
  margin-top: 10px;
  height: 6px;
  width: 100%;
  content: '';
  background: -webkit-radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.5) 0px, rgba(255, 255, 255, 0) 65%);
  background: -moz-radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.5) 0px, rgba(255, 255, 255, 0) 80%);
  background: -o-radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.5) 0px, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.5) 0px, rgba(255, 255, 255, 0) 65%);
}
.onetake-separator .icon-wrapper {
  position: absolute;
  display: table;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -13px;
  height: 26px;
  width: 26px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #AAAAAA;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
.onetake-separator .icon-wrapper i {
  display: block;
  display: table-cell;
  vertical-align: middle;
}
body:not(:-moz-handler-blocked) .onetake-separator.sep-shadow:after {
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.5) 0px, rgba(255, 255, 255, 0) 80%);
}
/*Dropcap*/
.dropcap {
  font-size: 62px;
  margin-right: 6px;
  padding-top: 11px;
  text-transform: uppercase;
  float: left;
  position: relative;
  top: 5px;
  color: #83c54f;
  padding-bottom: 11px;
}
.onetake-dropcap {
  position: relative;
  top: 4px;
  float: left;
  margin-right: 6px;
  padding: 0;
  line-height: 52px;
  color: #94c03d;
  font-size: 60px;
  text-transform: uppercase;
}
.onetake-dropcap.dropcap-boxed {
  height: 51px;
  width: 51px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 45px;
  text-align: center;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.35);
}
/* google map*/

.onetake-google-map {
  height: 416px;
  margin-bottom: 50px;
  overflow: hidden;
}
#gmap img,
.shortcode-map img {
  max-width: none;
}
.rtl .onetake-google-map .infoBox > img {
  float: left;
}
.onetake-google-map img {
  max-width: none;
}
.onetake-google-map .onetake-info-box {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #94c03d;
  color: #fff;
  font-size: 13px;
}
/* pricing table*/

.onetake-pricing-table {
  margin: 0 0 20px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.onetake-pricing-table * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.onetake-pricing-table .panel {
  overflow: hidden;
  margin: 0;
  background-color: #ffffff;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e5e4e3;
}
.onetake-pricing-table .panel-heading {
  padding: 15px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #e5e4e3;
  text-align: center;
}
.onetake-pricing-table .panel-heading h3 {
  margin: 0;
}
.onetake-pricing-table .panel-body {
  padding: 15px;
  background-color: #f8f8f8;
  text-align: center;
}
.onetake-pricing-table .panel-body .price {
  position: relative;
}
.onetake-pricing-table .panel-body .price .currency {
  position: relative;
  color: #505050;
}
.onetake-pricing-table .panel-body .price .currency.pos-right {
  top: 0;
  margin-left: -12px;
  font-size: 32px;
}
.onetake-pricing-table .panel-body .price .currency.pos-right.price-without-decimal {
  margin-left: 0;
}
.onetake-pricing-table .panel-body .price .integer-part {
  display: inline;
  font-weight: bold;
  color: #94c03d;
  line-height: normal;
}
.onetake-pricing-table .panel-body .price .decimal-part {
  position: relative;
  top: -30px;
  font-weight: bold;
  color: #94c03d;
}
.onetake-pricing-table .panel-body .price .time {
  position: relative;
  font-style: italic;
  color: #888888;
  margin-left: -14px;
}
.onetake-pricing-table .panel-body .price .time.price-without-decimal {
  margin-left: 0;
}
.onetake-pricing-table .panel-body .price .time.pos-right {
  display: block;
  margin-left: 0;
}
.onetake-pricing-table .list-group {
  margin: 0;
  padding: 0;
}
.onetake-pricing-table .list-group-item {
  display: block;
  position: relative;
  padding: 15px;
  background: none;
  border-radius: 0;
  border-top: 1px solid #e5e4e3;
  text-align: center;
}
.onetake-pricing-table .list-group-item:last-child {
  border-bottom: 1px solid #e5e4e3;
}
.onetake-pricing-table .panel-footer {
  padding: 15px;
  background-color: #f8f8f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-color: 1px solid #e5e4e3;
  text-align: center;
}
.onetake-pricing-table .panel-wrapper:hover {
  cursor: pointer;
}
.onetake-pricing-table .panel-wrapper:hover .panel {
  background-color: #f8f8f8;
}
#wrapper .full-boxed-pricing .panel-wrapper {
  padding: 0;
}
.full-boxed-pricing .panel-container {
  padding: 9px;
 /* background-color: #f8f8f8;*/
}
.full-boxed-pricing .panel-wrapper:last-child .panel {
  border-right: 1px solid #e5e4e3;
}
.full-boxed-pricing .panel-body .price .currency {
  top: -20px;
  font-size: 21px;
}
.full-boxed-pricing .panel-body .price .integer-part {
  font-size: 55px;
}
.full-boxed-pricing .panel-body .price .decimal-part {
  font-size: 17px;
}
.full-boxed-pricing .panel-body .price .time {
  font-size: 11px;
}
.full-boxed-pricing .panel-wrapper:hover .panel-heading {
  background-color: #f8f8f8;
}
.sep-boxed-pricing .panel-wrapper {
  margin-bottom: 10px;
  padding: 0;
}
.sep-boxed-pricing .panel-container {
  padding: 9px;
  background-color: #f8f8f8;
}
.sep-boxed-pricing .panel-heading {
  background-color: #94c03d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #e5e4e3;
  text-align: center;
}
.sep-boxed-pricing .panel-heading h3 {
  margin: 0;
}
.sep-boxed-pricing .panel-body .price .currency {
  top: -30px;
  font-size: 28px;
}
.sep-boxed-pricing .panel-body .price .integer-part {
  font-size: 75px;
}
.sep-boxed-pricing .panel-body .price .decimal-part {
  font-size: 23px;
}
.sep-boxed-pricing .panel-body .price .time {
  font-size: 20px;
}
@media (min-width: 768px) {
  .onetake-pricing-table .standout .panel-container {
    z-index: 1000;
  }
  .onetake-pricing-table .standout .panel-heading,
  .onetake-pricing-table .standout .panel-footer {
    padding: 20px;
  }
  .full-boxed-pricing {
    padding: 0 9px;
   /* background-color: #f8f8f8;*/
  }
  .full-boxed-pricing .panel-container {
    padding: 9px 0;
  }
  .full-boxed-pricing .panel-wrapper:last-child .panel {
    border-right: 1px solid #e5e4e3;
  }
  .full-boxed-pricing .panel {
    /*border-right: none;*/
  }
  .full-boxed-pricing .standout .panel-container {
    position: relative;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: -10px -9px;
    padding: 9px;
    -webkit-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    background-color: #f8f8f8;
  }
  .full-boxed-pricing .standout .panel {
    border-right: 1px solid #e5e4e3;
  }
  .full-boxed-pricing .standout .panel-heading h3 {
    color: #94c03d;
  }
  .sep-boxed-pricing {
    margin: 0 -15px;
    margin-bottom: 20px;
  }
  .sep-boxed-pricing .panel-wrapper {
    margin: 0;
    padding: 0 12px;
  }
  .sep-boxed-pricing .standout .panel-container {
    margin: -10px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.16);
  }
}
a.signUpButton {
	color: white !important;
	border: 1px solid #63b13d;
	font-weight: bold;
	
 	padding: 8px 20px;
 	
 	display: inline-block; 

	background-color: #72ce3f; /* Fallback Color */
	background: -moz-linear-gradient(top, #72cf3f, #60bb2d); /* FF 3.6+ */
	background: -webkit-linear-gradient(top, #72cf3f, #60bb2d); /* Safari 5.1+, Chrome 10+ */
}

a.signUpButton:hover {
	background-color: #79db43; /* Fallback Color */
	background: -moz-linear-gradient(top, #79db43, #66c730); /* FF 3.6+ */
	background: -webkit-linear-gradient(top, #79db43, #66c730); /* Safari 5.1+, Chrome 10+ */
}
/* title */

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
  display: table-cell;
  white-space: pre;
}
.title h1,
.entry-content .title h1 {
  float: left;
  padding: 0 8px 0 0;
  margin: 0;
}
.title h2,
.entry-content .title h2 {
  float: left;
  padding: 0 8px 0 0;
  margin: 0;
  font-size: 18px;
}
.title h3,
.entry-content .title h3 {
  float: left;
  padding: 0 8px 0 0;
  margin: 0;
}
.title h4,
.entry-content .title h4 {
  float: left;
  padding: 0 8px 0 0;
  margin: 0;
}
.title h5,
.entry-content .title h5 {
  float: left;
  padding: 0 8px 0 0;
  margin: 0;
}
.title h6,
.entry-content .title h6 {
  float: left;
  padding: 0 8px 0 0;
  margin: 0;
}

.onetake-title {
  display: table;
  margin: 0 0 31px;
  overflow: hidden;
}
.onetake-title h1,
.onetake-title h2,
.onetake-title h3,
.onetake-title h4,
.onetake-title h5,
.onetake-title h6 {
  float: left;
  display: table-cell;
  margin: 0;
  padding: 0 8px 0 0;
  line-height: normal;
  white-space: pre;
}
.onetake-title h1.title-heading-left,
.onetake-title h2.title-heading-left,
.onetake-title h3.title-heading-left,
.onetake-title h4.title-heading-left,
.onetake-title h5.title-heading-left,
.onetake-title h6.title-heading-left {
  padding-right: 8px;
}
.onetake-title h1.title-heading-left .fontawesome-icon,
.onetake-title h2.title-heading-left .fontawesome-icon,
.onetake-title h3.title-heading-left .fontawesome-icon,
.onetake-title h4.title-heading-left .fontawesome-icon,
.onetake-title h5.title-heading-left .fontawesome-icon,
.onetake-title h6.title-heading-left .fontawesome-icon {
  margin-left: 10px;
}
.onetake-title h1.title-heading-right,
.onetake-title h2.title-heading-right,
.onetake-title h3.title-heading-right,
.onetake-title h4.title-heading-right,
.onetake-title h5.title-heading-right,
.onetake-title h6.title-heading-right {
  padding: 0 0 0 8px;
}
.onetake-title h1.title-heading-right .fontawesome-icon,
.onetake-title h2.title-heading-right .fontawesome-icon,
.onetake-title h3.title-heading-right .fontawesome-icon,
.onetake-title h4.title-heading-right .fontawesome-icon,
.onetake-title h5.title-heading-right .fontawesome-icon,
.onetake-title h6.title-heading-right .fontawesome-icon,
.onetake-title h1.title-heading-right img,
.onetake-title h2.title-heading-right img,
.onetake-title h3.title-heading-right img,
.onetake-title h4.title-heading-right img,
.onetake-title h5.title-heading-right img,
.onetake-title h6.title-heading-right img {
  margin-left: 10px;
  margin-right: 0;
}
.onetake-title h1 img,
.onetake-title h2 img,
.onetake-title h3 img,
.onetake-title h4 img,
.onetake-title h5 img,
.onetake-title h6 img {
  margin-right: 10px;
}
.onetake-title h1 .fontawesome-icon,
.onetake-title h2 .fontawesome-icon,
.onetake-title h3 .fontawesome-icon,
.onetake-title h4 .fontawesome-icon,
.onetake-title h5 .fontawesome-icon,
.onetake-title h6 .fontawesome-icon {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin-left: 2px;
}
.onetake-title h1 .fontawesome-icon.size-small,
.onetake-title h2 .fontawesome-icon.size-small,
.onetake-title h3 .fontawesome-icon.size-small,
.onetake-title h4 .fontawesome-icon.size-small,
.onetake-title h5 .fontawesome-icon.size-small,
.onetake-title h6 .fontawesome-icon.size-small,
.onetake-title h1 .fontawesome-icon.size-medium,
.onetake-title h2 .fontawesome-icon.size-medium,
.onetake-title h3 .fontawesome-icon.size-medium,
.onetake-title h4 .fontawesome-icon.size-medium,
.onetake-title h5 .fontawesome-icon.size-medium,
.onetake-title h6 .fontawesome-icon.size-medium,
.onetake-title h1 .fontawesome-icon.size-large,
.onetake-title h2 .fontawesome-icon.size-large,
.onetake-title h3 .fontawesome-icon.size-large,
.onetake-title h4 .fontawesome-icon.size-large,
.onetake-title h5 .fontawesome-icon.size-large,
.onetake-title h6 .fontawesome-icon.size-large {
  margin-top: 0;
}
.onetake-title .title-sep-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 6px;
  width: 100%;
}
.onetake-title.sep-underline {
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #e7e6e6;
}
.onetake-title.sep-underline .title-heading-right {
  float: right;
  margin: 0;
}
.onetake-title .title-sep {
  position: relative;
  display: block;
  width: 100%;
  border-style: solid;
  border: 0 solid #e7e6e6;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.onetake-title .title-sep.sep-double {
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.onetake-title .title-sep.sep-single {
  border-bottom-width: 1px;
}
.onetake-title .title-sep.sep-dashed {
  border-bottom-style: dashed;
  border-top-style: dashed;
}
.onetake-title .title-sep.sep-dotted {
  border-bottom-style: dotted;
  border-top-style: dotted;
}
.onetake-title.sep-dashed {
  border-bottom-style: dashed;
}
.onetake-title.sep-dotted {
  border-bottom-style: dotted;
}
.border-below-title {
  display: block;
}
.border-below-title h1,
.border-below-title h2,
.border-below-title h3,
.border-below-title h4,
.border-below-title h5,
.border-below-title h6 {
  white-space: normal;
}
 .entry-content .border-below-title h1,
 .entry-content .border-below-title h2,
 .entry-content .border-below-title h3,
 .entry-content .border-below-title h4,
 .entry-content .border-below-title h5,
 .entry-content .border-below-title h6 {
  float: none;
  padding-right: 0;
}
.border-below-title .title-sep-container {
  display: none;
  height: 8px;
}


/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(/web/20180119063908im_/http://www.businessmakerapp.com/wp-content/themes/onetake-pro/css/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-theme .owl-controls .owl-buttons i{
	font-size:24px;
	}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -45px;
    top: 35%;
}
.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 7px 9px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -45px;
    top: 35%;
}
.owl-theme .owl-buttons i {
    margin-top: 2px;
}

/*----- scroller menu -----*/

.scroller-menu ul {
	list-style:none;
	margin:0; 
	padding:0;
	/*width:300px;*/
	-moz-box-shadow: 0 0 5px #111;
	-webkit-box-shadow: 0 0 5px #111;
	box-shadow: 0 0 5px #111;
}

.scroller-menu ul li .scroller-menu-item {
	background: #575e63; /* fallback colour */
	border-top:1px solid #878e98;
	border-bottom:1px solid #33373d;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	letter-spacing: 0.09em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));
	background: -webkit-linear-gradient(top, #575e63, #3f4347);
	background: -moz-linear-gradient(top, #575e63, #3f4347);
	background: -ms-linear-gradient(top, #575e63, #3f4347);
	background: -o-linear-gradient(top, #575e63, #3f4347);
}

.scroller-menu ul li input[type='checkbox'] {
	display: none;
}

.scroller-menu ul li .scroller-menu-item {
	display:block;
	padding:12px;
	width:300px;
}

.scroller-menu ul li i {
	font-size:18px;
	vertical-align: middle;
	width:20px;
	display:inline-block;
}

.scroller-menu ul li span {
	display:inline;
	float:right;
	background:#48515c;
	border:1px solid #3c434c;
	border-bottom:1px solid #707781;
	padding:4px 6px;
	font-size:10px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: inset 0 0 10px #111;
	-webkit-box-shadow: inset 0 0 10px #111;
	box-shadow: inner 0 0 10px #111;
	position:relative;
}

.scroller-menu ul li .scroller-menu-item:hover {
	background: #566f82; /* fallback colour */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82), to(#3e505e));
	background: -webkit-linear-gradient(top, #566f82, #3e505e);
	background: -moz-linear-gradient(top, #566f82, #3e505e);
	background: -ms-linear-gradient(top, #566f82, #3e505e);
	background: -o-linear-gradient(top, #566f82, #3e505e);
}

.scroller-menu ul li .scroller-menu-item:hover span {
	background:#3e505e;
}

.scroller-menu ul li .nav-active .scroller-menu-item {
	background: #4ca702; /* fallback colour */
	border-top:1px solid #3d8900;
	border-bottom:1px solid #3d8900;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4ca702), to(#3d8900));
	background: -webkit-linear-gradient(top, #4ca702, #3d8900);
	background: -moz-linear-gradient(top, #4ca702, #3d8900);
	background: -ms-linear-gradient(top, #4ca702, #3d8900);
	background: -o-linear-gradient(top, #4ca702, #3d8900);
}

.scroller-menu ul li .nav-active  .scroller-menu-item span {
	background: #2173a1; /* fallback colour */
	border-top:1px solid #1b5f85;
	border-bottom:1px solid #4cb1e4;
	-moz-box-shadow: inset 0 0 5px #111;
	-webkit-box-shadow: inset 0 0 5px #111;
	box-shadow: inner 0 0 5px #111;
}

.scroller-menu ul li .nav-active .options {
	height: auto;
	display:block;
	min-height:40px;
	max-height:400px;
}

.scroller-menu ul ul {
	background:#fff; margin:0; padding:0;
	-moz-box-shadow: inset 0 2px 2px #b3b3b3;
	-webkit-box-shadow: inset 0 2px 2px #b3b3b3;
	box-shadow: inner 0 2px 2px #b3b3b3;
}

.scroller-menu ul ul li a {
	display:block;
	padding:6px 12px;
	color:#999;
	text-decoration:none;
}

.scroller-menu ul ul li a:hover {
	color:#44c6eb;
}

.scroller-menu ul ul li a span {
	color:#999;
	background:none;
	border:1px solid #ccc; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.scroller-menu ul ul li {
	border-bottom:1px solid #ccc;
}

.scroller-menu ul ul li:first-child {
	padding-top:6px;
}

.scroller-menu ul ul li:last-child {
	padding-bottom:6px; border:0;
}

.scroller-menu .options {
	height: 0;
	display: block;
	overflow: hidden;
}

.scroller-menu nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

/*
     FILE ARCHIVED ON 06:39:08 Jan 19, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:55:53 May 27, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.59
  exclusion.robots: 0.157
  exclusion.robots.policy: 0.147
  esindex: 0.008
  cdx.remote: 17.057
  LoadShardBlock: 113.682 (3)
  PetaboxLoader3.datanode: 135.845 (4)
  load_resource: 159.009
  PetaboxLoader3.resolve: 39.748
*/